{
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "semi": true,
  "endOfLine": "lf",
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "insertPragma": false,
  "jsxSingleQuote": false,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "overrides": [
    {
      "files": "*.py",
      "options": {
        "tabWidth": 4,
        "printWidth": 88
      }
    },
    {
      "files": ["*.json", "*.yml", "*.yaml", "*.md"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
